# Ignore everything
/annotations_landmarks
/pretrained_model/model.caffemodel
/datasets/*
/tmp/*
/caffe-deep-retrieval/*

# if the files to be tracked are in subdirectories
!/caffe-deep-retrieval/include/normalize_layer.hpp
!/caffe-deep-retrieval/include/roi_pooling_layer.hpp
!/caffe-deep-retrieval/src/caffe/layers/normalize_layer.cpp
!/caffe-deep-retrieval/src/caffe/layers/normalize_layer.cu
!/caffe-deep-retrieval/src/caffe/layers/roi_pooling_layer.cpp
!/caffe-deep-retrieval/src/caffe/layers/roi_pooling_layer.cu
!/caffe-deep-retrieval/src/caffe/proto/caffe.proto
